.todoItems__item {
  & + & {
    margin-top: 10px;
  }
}

.form {
  display: flex;
}

.form__left {
  margin-right: 5px;
}

.form__middle {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
